* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143C3C;
    --text-color-black-gray: #575D5E;
    --Primary-color-black: #152427;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
    height: 10000px;
}

/* ========= Common ============ */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 173px;
    border-radius: 999px;
    line-height: 57px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* ====== Navbar ========= */
.fixed {
    position: sticky;
    top: -10px;
    z-index: 1;
}

.header-top {
    background: #fff;
}

.header-top__body {
    padding: 28px 0 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-top__body::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
    position: absolute;
    bottom: 0;
}

.header-top__row {
    display: flex;
    align-items: center;
    column-gap: 88px;
}

.navbar__list {
    display: flex;
    column-gap: 38px;
}

.navbar-item__link {
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    padding-bottom: 31px;
    position: relative;
}

.navbar-item__link:hover {
    color: #152427;
}

.active {
    color: #152427;
}

.active::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: #143C3C;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ==========Hero ============ */
.header{
    padding-bottom: 87px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero__content {
    width: 393px;
}

.hero__heading {
    width: 368px;
    color:#152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero__group-cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__video-play {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background: #fff;
    cursor: pointer;
}

.hero__video-play-circle {
    margin-left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143C3C transparent transparent  #143C3C;
    rotate: -45deg;
    transition: .5s;
}

.hero__video-play:hover .hero__video-play-circle{
    rotate: 135deg;
    border-color: #83A17D transparent transparent  #83A17D;
}

.hero__video-play:hover .hero__video-play-btn {
    rotate: -135deg;
    background: #143C3C;
}

.hero__video-play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #FEF6FB;
    background: #83A17D;
    rotate: 45deg;
}

.hero__video-play-text {
    margin-left: 9px;
    color: #152427;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    cursor: pointer;
}

.hero__images {
    position: relative;
    margin-right: 23px;
}

.hero__images-list {
    display: flex;
    column-gap: 20px;
}

.hero__images-blur {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    position: absolute;
    top: 122px;
    left: 156px;
    background: #4DBB9A;
    filter: blur(137px);
    z-index: -1;
}

.hero__images-img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero__images-img:nth-of-type(2) {
    margin-top: 77px;
}

.hero__vector {
    position: absolute;
}

.hero__vector-flower-top {
    transform: rotate(9.392deg);
    left: -214px;
    top: -25px;
}

.hero__vector-flower-bottom {
    right: 9px;
    bottom: -36px;
    transform: rotate(-174.659deg);
}

.hero__vector-top {
    left: -172px;
    top: -32px;
}

.hero__vector-bottom {
    transform: rotate(175.95deg);
    right: 45px;
    bottom: -77px;
}

/* ======== Clients ============= */

.clients {
    margin-top: 42px;
}

.clients__list {
    height: 200px;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    background: #E2EDDF;
    border-radius: 999px;
}

.client__item {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    border-radius: 6px;
    color: #143C3C;
    font-family: "Poppins";
    transition: .3s;
}

.client__item:hover {
    box-shadow: 6px 6px 10px 1px;
}

.client__google {
    font-size: 3.1rem;
    font-weight: 500;
    line-height: normal;
}

.client__slack {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: normal;
}

.client__slack img {
    margin-right: 5px;
}

.client__agworld {
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: normal;
}

.client__agworld img {
    display: inline-block;
    margin-right: 11px;
}

.client__riotinto {
    font-family: "Sonsie One", sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: normal;
}

.client__heroku {
    color: #143C3C;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.995px;
}

.client__heroku img {
    margin-right: 14px;
}