* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143C3C;
    --text-color-black-gray: #575D5E;
    --Primary-color-black: #152427;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}

/* ========= Common ============ */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 173px;
    border-radius: 999px;
    line-height: 57px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.section-sub-title {
    display: flex;
    align-items: center;
    color: #152427;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12;
    position: relative;
}

.section-sub-title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
    position: absolute;
    left: -46px;
}

.section-heading {
    color: #152427;
    font-family: "Poppins";
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    position: relative;
}

.section-heading::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ====== Navbar ========= */
.fixed {
    position: sticky;
    top: -10px;
    z-index: 1;
}

.header-top {
    background: #fff;
}

.header-top__body {
    padding: 28px 0 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-top__body::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
    position: absolute;
    bottom: 0;
}

.header-top__row {
    display: flex;
    align-items: center;
    column-gap: 88px;
}

.navbar__list {
    display: flex;
    column-gap: 38px;
}

.navbar-item__link {
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    padding-bottom: 31px;
    position: relative;
}

.navbar-item__link:hover {
    color: #152427;
}

.active {
    color: #152427;
}

.active::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: #143C3C;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ==========Hero ============ */
.header{
    padding-bottom: 87px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero__content {
    width: 393px;
}

.hero__heading {
    width: 368px;
    color:#152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero__group-cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__video-play {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background: #fff;
    cursor: pointer;
}

.hero__video-play-circle {
    margin-left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143C3C transparent transparent  #143C3C;
    rotate: -45deg;
    transition: .5s;
}

.hero__video-play:hover .hero__video-play-circle{
    rotate: 135deg;
    border-color: #83A17D transparent transparent  #83A17D;
}

.hero__video-play:hover .hero__video-play-btn {
    rotate: -135deg;
    background: #143C3C;
}

.hero__video-play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #FEF6FB;
    background: #83A17D;
    rotate: 45deg;
}

.hero__video-play-text {
    margin-left: 9px;
    color: #152427;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    cursor: pointer;
}

.hero__images {
    position: relative;
    margin-right: 23px;
}

.hero__images-list {
    display: flex;
    column-gap: 20px;
}

.hero__images-blur {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    position: absolute;
    top: 122px;
    left: 156px;
    background: #4DBB9A;
    filter: blur(137px);
    z-index: -1;
}

.hero__images-img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero__images-img:nth-of-type(2) {
    margin-top: 77px;
}

.vector {
    position: absolute;
}

.hero__vector-flower-top {
    transform: rotate(9.392deg);
    left: -214px;
    top: -25px;
}

.hero__vector-flower-bottom {
    right: 9px;
    bottom: -36px;
    transform: rotate(-174.659deg);
}

.hero__vector-top {
    left: -172px;
    top: -32px;
}

.hero__vector-bottom {
    transform: rotate(175.95deg);
    right: 45px;
    bottom: -77px;
}

/* ======== Clients ============= */

.clients {
    margin-top: 42px;
}

.clients__list {
    min-height: 200px;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    background: #E2EDDF;
    border-radius: 999px;
}

.client__item {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    border-radius: 6px;
    color: #143C3C;
    font-family: "Poppins";
    transition: .3s;
}

.client__item:hover {
    box-shadow: 6px 6px 10px 1px;
}

.client__google {
    font-size: 3.1rem;
    font-weight: 500;
    line-height: normal;
}

.client__slack {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: normal;
}

.client__slack img {
    margin-right: 5px;
}

.client__agworld {
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: normal;
}

.client__agworld img {
    display: inline-block;
    margin-right: 11px;
}

.client__riotinto {
    font-family: "Sonsie One", sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: normal;
}

.client__heroku {
    color: #143C3C;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.995px;
}

.client__heroku img {
    margin-right: 14px;
}

/* ============ Service ================ */

.service {
    padding: 60px 0;
    margin-top: 46px;
}

.service__sub-title {
    margin-left: 46px;
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__heading {
    width: 520px;
}

.service__heading::after {
    right: 103px;
    bottom: 19px;
}

.service__control {
    margin: 41px 73px 0 0;
    display: flex;
    column-gap: 17px;
}

.service__control-btn {
    color: #152427;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #E2EDDF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.service__control-btn:hover {
    cursor: pointer;
    background: #143c3c;
    color: #fff;

}

.service-list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service__item {
    border-radius: 20px;
    overflow: hidden;
    background: #FFF;
    transition: .5s;
}

.service__item-body {
    padding: 24px 100px 23px 0;
    font-family: "Poppins";
    transition: .5s;
}

.service__item-frame {
    height: 318px;
    overflow: hidden;
}

.service__iem-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.service__item-title {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
}

.service__item-desc {
    margin-top: 18px;
    color: #7D8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.service__item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item:hover .service__iem-thumb {
    transform: scale(1.1);
}

.service__item:hover .service__item-body {
    padding-left: 18px;
    padding-right: 84px;
}

/* =========== About ============== */
.about {
    padding: 60px 0;
    margin-top: 30px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__images {
    margin-top: 13px;
    padding-right: 9px;
    position: relative;
}

.about__images-row {
    display: flex;
    column-gap: 21px;
}

.about__inner-img {
    display: inline-block;
    width: 286px;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
}

.about__inner-img:first-of-type {
    width: 284px;
    margin-top: 77px;
}

.about__inner-blur {
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4DBB9A;
    filter: blur(137px);
    position: absolute;
    top: 122px;
    left: 156px;
    z-index: -1;
}

.about__vector-flower-top {
    top: -40px;
    left: 46px;
    transform: rotate(176.985deg);
}

.about__vector-top {
    transform: rotate(12.645deg);
    top: 5px;
    left: 46px;
}

.about__stats {
    width: 143px;
    padding: 19px 17px 11px;
    background: #fff;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    position: absolute;
    right: 0;
    bottom: 2px;
}

.about__stats-title {
    color: #152427;
    font-size: 1.4rem;
    font-weight: 600;
}

.about__stats-desc {
    margin-top: 6px;
    color: #575D5E;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about__stats-number {
    display: inline-block;
    margin: 10px 0 3px;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__stats span {
    display: block;
}

.about__stats-path{
    width: 96px;
    height: 2px;
    border-radius: 999px;
    background: #EAEAEA;
}

.about__stats-path-color {
    width: 40px;
    height: 2px;
    background: #83A17D;
    border-radius: 999px;
}

.about__stats-load {
    margin-top: 3px;
    text-align: right;
    color: #152427;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.4;
}

.about__stats-circle {
    box-sizing: content-box;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143C3C;
    border: 3px solid #EAEAEA;
}

.about__stats-row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.about__stats-team {
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__stats-avatar {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: -6px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.about__content {
    width: 43%;
}

.about__heading::after {
    content: none;
}

.about__sub-title {
    margin-left: 46px;
}

.about__heading {
    margin-top: 20px;
}

.about__content-desc {
    margin-top: 11px;
    color: #7D8188;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 1.62;
}

.about__content-row {
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83A17D;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.about__content-row:last-of-type {
    margin-top: 38px;
}

.about__content-number {
    color: #152427;
    font-family: "Poppins";
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about__content-row-desc {
    width: 364px;
    color: #7D8188;
    font-family: "Poppins";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* ========== Process ========= */

.process {
    padding: 55px 0 60px;
}

.process__sub-title {
    margin-left: 53px;
}

.process__heading {
    width: 477px;
    margin-top: 20px;
}

.process__heading::after {
    right: -9px;
    bottom: 18px;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    display: flex;
    padding: 46px 41px 25px 20px;
    border-radius: 33px;
    background: #fff;
    position: relative;
    transition: .3s;
}

.process-item__line {
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg, #83A17D 4.17%, rgba(131, 161, 125, 0.00) 36.46%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.process-item__head {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.process-item__number {
    min-width: 110px;
    color: #143C3C;
    font-family: "Poppins";
    font-size: 7.2rem;
    font-weight: 600;
}

.process-item__title {
    margin-bottom: 22px;
    color: #152427;
    font-family: "Poppins";
    font-size: 2.2rem;
    font-weight: 600;
}

.process-item__link {
    color: #575D5E;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
    display: none;
}

.process-item__desc {
    width: 572px;
    margin-left: auto;
    color: #7D8188;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.process-item__img {
    display: none;
    position: absolute;
    right: 92px;
    bottom: 0;
}

.process-item:hover {
    background: #e2eddf;
}

.process-item:hover .process-item__link {
    display: block;
}

.process-item:hover .process-item__img {
    display: block;
}

.process-item:hover .process-item__desc {
    display: none;
}

.process-item:hover .process-item__line {
    display: none;
}

/* ========= Video =========== */

.project {
    padding: 116px 0 63px;
    margin-top: 88px;
    background: #143c3c;
}

.project__heading {
    width: 457px;
    color: #E7F9F9;
}

.project__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__heading::after {
    background: #83a17d;
    right: 97px;
    bottom: 20px;
}

.project__head-info {
    width: 50%;
}

.project__head-desc {
    color: #6A8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.project__head--more {
    margin-top: 13px;
    display: flex;
    align-items: center;
    column-gap: 26px;
}

.project__head-link {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.project__control-btn {
    border: none;
    background: transparent;
    color: #80A07B;
    cursor: pointer;
    z-index: 1;
}

.project__head-link:hover {
    color: #80A07B;
}

.project__media {
    margin-top: 65px;
    position: relative;
}

.project__media-video {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project__media-btn-play:hover {
    background: #80A07B;
}

.project__vector-flower-top {
    top: -79px;
    right: -56px;
}

.project__vector-top {
    rotate: -10deg;
    top: -140px;
    right: -57px;
}

/* ========== Feature ========== */

.feature {
    padding: 80px 0;
    margin-top: 104px;
}

.feature__heading {
    width: 520px;
    margin: auto;
    text-align: center;
}

.feature__heading::after {
    content: none;
}

.feature__desc {
    width: 547px;
    margin: 20px auto 0;
    color: #7D8188;
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 1.62;
}

.feature__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    text-align: center;
    padding: 60px 43px 103px;
    background: #fff;
    border-radius: 160px;
    border: 1.5px solid #CECECE;
    transition: .5s;
}

.feature-iem__title {
    margin-top: 23px;
    color: #152427;
    font-family: "Poppins";
    font-size: 2rem;
    font-weight: 600;
}

.feature-item__desc {
    margin-top: 12px;
    color: #7D8188;
    text-align: center;
    font-family: "Poppins";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.feature-item:hover {
    transform: translateY(-59px);
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
    border: none;
}

/* ============ Blog ============== */

.blog {
    padding: 80px 0;
    margin-top: 24px;
}

.blog__sub-title {
    margin-left: 46px;
}

.blog__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    width: 520px;
}

.blog__heading::after {
    right: -51px;
    bottom: 18px;
}

.blog__desc {
    width: 409px;
    color: #7D8188;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item {
    border-radius: 40px 40px 20px 20px;
    overflow: hidden;
    background: #fff;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__body {
    padding-left: 30px;
}

.blog-item__wrap-img {
    display: inline-block;
    width: 100%;
    height: 317px;
    overflow: hidden;
}

.blog-item__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.blog-item:hover .blog-item__thumb {
    transform: scale(1.1)
}

.blog-item__body {
    padding: 26px 14px 12px 0;
    transition: .5s;
    height: 204px;
}

.blog-item__btn {
    min-width: 107px;
    background: #e2eddf;
    color: #000;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    transition: .5s;
}

.blog-item__btn:hover {
    background: #143c3c;
    color: #fff;
}

.blog-item__title {
    display: block;
    height: 90px;
    margin-top: 13px;
    color: #143C3C;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__time {
    margin-top: 9px;
    padding-top: 15px;
    border-top: 1px solid #C4C4C4;
    text-align: right;
    color: #575D5E;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/* ============ Footer ============== */

.footer {
    margin-top: 22px;
    padding: 72px 0 50px;
    background: #143C3C;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__heading {
    color: #fff;
    font-family: "Poppins";
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;
}

.footer__more {
    display: inline-flex;
    margin-top: 25px;
    padding-bottom: 26px;
    align-items: center;
    column-gap: 119px;
    border-bottom: 1px solid #6A8383;
}

.footer__contact--input {
    width: 100%;
    height: 83px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #6A8383;
    font-style: none;
    font-size: 2rem;
    color: #fff;
    outline-width: 0;
}

.footer__contact--input::placeholder {
    color: #6A8383;
    font-family: "Poppins";
    font-size: 2.2rem;
    font-weight: 600;
}

.footer__contact {
    width: 354px;
    position: relative;
}

.footer__control-btn {
    border: none;
    background: transparent;
    color: #C4C4C4;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
}

.footer__media {
    margin-top: 47px;
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.footer__media-icon {
    width: 52px;
    height: 52px;
    background: transparent;
    border: 1px solid #265252;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.footer__media-icon:hover {
    background: #A75325;
    border: none;
}

.footer__media-ig-wrap {
    width: 18px;
    height: 18px;
    background: transparent;
    border: 3px solid #fbfbfb;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__media-ig-circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 1px solid #fcfcfc;
    border-radius: 50%;
}

.footer-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer-column__title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.footer-column__list {
    margin-top: 6px;
}

.footer-column__link {
    color: #6A8383;
    font-weight: 500;
    line-height: 2.25;
}

.footer-column__link:hover {
    color: #ccc;
}

.footer-line {
    margin-top: 45px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #143C3C 2.28%, #295A5A 55.65%, rgba(38, 82, 82, 0.00) 102.06%);
}